<%
const requestable = page.data.editable === true && !!page.data.edit_acl_message && page.viewName !== 'notfound';
%>
<script nonce="<%=cspNonce%>">
window.requestable = <%=JSON.stringify(requestable)%>;
</script>
<script src="/skins/<%=skin%>/js/main.js"></script>

<style>
  @import "/skins/<%=skin%>/css/bootstrap.min.css";
  @import "/skins/<%=skin%>/css/font-awesome.min.css";
  @import "/skins/<%=skin%>/css/font/Noto Sans KR.css";
  @import "/skins/<%=skin%>/css/default.css";
  @import '/skins/<%=skin%>/css/default_mobile.css';
  @import "/skins/<%=skin%>/css/dark.css";

  @import "/skins/<%=skin%>/css/layouts/contentTool.css";
  @import "/skins/<%=skin%>/css/layouts/recentCard.css";
  @import "/skins/<%=skin%>/css/layouts/searchForm.css";
</style>

<div class="Liberty">
  <div id="top"></div>
  <div class="nav-wrapper" :class="{ 'navbar-fixed-top': $store.state.localConfig['clue.fixed_navbar'] }">
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="/"><%=config.logo_text%></a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/RecentChanges"><span class="fa ion-md-compass" style="font-size: 17px;"></span><span class="hide-title">최근 변경</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RecentDiscuss"><span style="font-size:17px;" class="fa fa-commenting"></span><span class="hide-title">최근 토론</span></a>
        </li>
        <li class="nav-item" x-data="{ open: false }">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-fix" href="#" @click.prevent="open = !open">
              <span class="fa ion-md-menu" style="font-size:19px;vertical-align: -1.5px;"></span><span class="hide-title">메뉴</span></a>
            <div class="open" x-cloak x-show="open" @click="open = false" @click.outside="open = false">
              <div class="dropdown-menu" role="menu">
                <div class="dr-admin" style="margin-top: 5px;"><b>일반 도구</b></div>
                <div class="dropdown-divider"></div>
                <a href="/Upload" class="dropdown-item"><span class="fa ion-md-copy"></span> 파일 올리기</a>
                <div class="dropdown-divider"></div>
                <a href="/NeededPages" class="dropdown-item"><span class="fa ion-md-remove-circle-outline"></span> 작성이 필요한 문서</a>
                <a href="/OrphanedPages" class="dropdown-item"><span class="fa ion-md-warning"></span> 고립된 문서</a>
                <a href="/UncategorizedPages" class="dropdown-item"><span class="fa ion-md-list-box"></span> 분류가 되지 않은 문서</a>
                <a href="/OldPages" class="dropdown-item"><span class="fa ion-md-undo"></span> 편집된 지 오래된 문서</a>
                <a href="/ShortestPages" class="dropdown-item"><span class="fa ion-md-thumbs-down"></span> 내용이 짧은 문서</a>
                <a href="/LongestPages" class="dropdown-item"><span class="fa ion-md-thumbs-up"></span> 내용이 긴 문서</a>
                <a href="/BlockHistory" class="dropdown-item"><span class="fa ion-md-construct"></span> 차단 내역</a>
                <a href="/RandomPage" class="dropdown-item"><span class="fa ion-md-shuffle"></span> RandomPage</a>
                <a href="/License" class="dropdown-item"><span class="fa ion-md-pricetag"></span> 라이선스</a>
                <%if(session.menus.length) {%>
                <div class="dropdown-divider"></div>
                <div class="dr-admin"><b>권한 도구</b></div>
                <div class="dropdown-divider"></div>
                <%for(let m of session.menus) {%>
                <%if(m.t === '권한') {%>
                <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-options"></span> <%=m.t%></a>
                <%}%>
                <%if(m.t === '로그인 기록 조회') {%>
                  <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-paper"></span> <%=m.t%></a>
                <%}%>
                <%if(m.t === 'ACL Group') {%>
                <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-person-add"></span> <%=m.t%></a>
                <%}%>
                <%if(m.t === '일괄 되돌리기') {%>
                <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-refresh"></span> <%=m.t%></a>
                <%}%>
                <%if(m.t === '설정') {%>
                  <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-settings"></span> <%=m.t%></a>
                <%}%>
                <%if(m.t === '개발자 설정') {%>
                  <a href="<%=m.l%>" class="dropdown-item"><span class="fa ion-md-code"></span> <%=m.t%></a>
                <%}%>
                <%}%>
                <%}%>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="navbar-login" x-data="{ open: false }">
        <div class="dropdown login-menu">
          <a id="login-menu" class="dropdown-toggle" type="button" @click="open = !open">
            <%if(session.gravatar_url) {%>
              <img class="profile-img" src="<%=session.gravatar_url%>">
            <%} else {%>
              <span class="fa fa-user login-icon"></span>
            <%}%>
          </a>
          <div class="open" x-cloak x-show="open" @click="open = false" @click.outside="open = false">
            <div class="dropdown-menu dropdown-menu-right login-dropdown-menu">
              <%if(session.account.type === UserTypes.Account) {%>
              <div class="username dropdown-item">
                <b><%=session.account.name%></b><br>사용자
              </div>
              <%} else {%>
              <div class="username dropdown-item">
                <b><%=session.account.name%></b><br>IP 사용자
              </div>
              <%}%>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item" @click.prevent="$store.state.openSettingModal"><span class="fa fa-gear"></span> 설정</a>
              <a x-show="$store.state.currentTheme === 'light'" href="#" class="dropdown-item" @click.prevent="$store.state.setLocalConfig('wiki.theme', 'dark')"><span class="fa fa-moon-o"></span> 다크 테마로</a>
              <a x-show="$store.state.currentTheme === 'dark'" href="#" class="dropdown-item" @click.prevent="$store.state.setLocalConfig('wiki.theme', 'light')"><span class="fa fa-sun-o"></span> 라이트 테마로</a>
              <div class="dropdown-divider"></div>
              <%if(session.account.type === UserTypes.Account) {%>
                <a href="/member/mypage" class="dropdown-item"><span class="fa fa-tags"></span> 내 정보</a>
                <a :href="doc_action_link(user_doc($store.state.session.account.name), 'w')" class="dropdown-item"><span class="fa fa-file-text-o"></span> 사용자 문서</a>
                <a href="/member/starred_documents" class="dropdown-item"><span class="fa fa-star-o"></span> 내 문서함</a>
                <div class="dropdown-divider"></div>
              <%}%>
              <%if(session.account.uuid) {%>
                <a class="dropdown-item" :href="contribution_link($store.state.session.account.uuid)"><span class="fa fa-pencil"></span> 내 문서 기여 목록</a>
                <a class="dropdown-item" :href="contribution_link_discuss($store.state.session.account.uuid)"><span class="fa fa-commenting"></span> 토론 기여 목록</a>
                <div class="dropdown-divider"></div>
              <%}%>
              <%if(session.account.type === UserTypes.Account) {%>
                <a href="/member/logout" data-add-redirect class="dropdown-item"><span class="fa fa-sign-out"></span> 로그아웃</a>
              <%} else {%>
                <a href="/member/login" data-add-redirect class="dropdown-item"><span class="fa fa-sign-in"></span> 로그인</a>
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <%-include('./layouts/searchForm')%>
    </nav>
  </div>
  <div class="content-wrapper" :class="{ 'hide-sidebar': $store.state.localConfig['clue.sidebar'] === 'hide' || $store.state.localConfig['clue.sidebar'] === 'footer' }">
    <div class="liberty-sidebar">
      <div class="liberty-right-fixed" :class="{ 'fixed': $store.state.localConfig['clue.sidebar'] === 'fix' }">
        <div class="live-recent">
          <div class="live-recent-header">
            <ul class="nav nav-tabs">
              <li class="nav-item" style="text-align: left;">
                <div class="recent-head-title">
                  <h3 style="margin: 0; display: flex; align-items: center;">
                    <span class="ion-md-compass"></span>
                    <span class="recent-head-text">최근 변경</span>
                  </h3>
                  <a href="/RecentChanges" class="btn btn-sm btn-primary btn-recentchanges">더보기</a>
                </div>
              </li>
            </ul>
          </div>
          <%-include('./layouts/recentCard', {limit:10})%>
        </div>
      </div>
    </div>
    <div id="content" class="container-fluid liberty-content">
      <%if(config.sitenotice) {%>
      <div id="site-notice" class="notification">
        <span class="label"><span class="fa ion-md-alert notice-icon"></span> <span style="vertical-align: 4px;"><%-config.sitenotice%></span></span>
      </div>
      <%}%>
      <div class="liberty-content-header">
        <%-include('./layouts/contentTool')%>
        <div class="title">
          <%if(page.data.document && page.viewName !== 'error') {%>
          <h1 style="margin-bottom: 10px;">
            <a href="<%=doc_action_link(page.data.document, 'w')%>">
              <%if(page.data.document.forceShowNamespace !== false) {%><span class="namespace"><%=page.data.document.namespace%></span> <%}%><%=page.data.document.title%>
            </a>
            <%if(page.viewName === 'edit_edit_request' || page.viewName === 'edit_request') {%>
              <small>(편집 요청)</small>
            <%} else if(page.viewName === 'edit' && page.data.body.section) {%>
              <small>(r<%=page.data.body.baserev%> 문단 편집)</small>
            <%} else if(page.viewName === 'edit' && page.data.body.baserev === '0') {%>
              <small>(새 문서 생성)</small>
            <%} else if(page.viewName === 'edit') {%>
              <small>(r<%=page.data.body.baserev%> 편집)</small>
            <%} else if(page.viewName === 'history') {%>
              <small>(역사)</small>
            <%} else if(page.viewName === 'backlink') {%>
              <small>(역링크)</small>
            <%} else if(page.viewName === 'move') {%>
              <small>(이동)</small>
            <%} else if(page.viewName === 'delete') {%>
              <small>(삭제)</small>
            <%} else if(page.viewName === 'acl') {%>
              <small>(ACL)</small>
            <%} else if(page.viewName === 'thread') {%>
              <small>(토론)</small>
            <%} else if(page.viewName === 'thread_list') {%>
              <small>(토론 목록)</small>
            <%} else if(page.viewName === 'thread_list_close') {%>
              <small>(닫힌 토론)</small>
            <%} else if(page.viewName === 'edit_request_close') {%>
              <small>(닫힌 편집 요청)</small>
            <%} else if(page.viewName === 'diff') {%>
              <small>(비교)</small>
            <%} else if(page.viewName === 'revert' && page.data.rev) {%>
              <small>(r<%=page.data.rev%>로 되돌리기)</small>
            <%} else if(page.viewName === 'raw' && page.data.rev) {%>
              <small>(r<%=page.data.rev%> RAW)</small>
            <%} else if(page.viewName === 'blame' && page.data.rev) {%>
              <small>(r<%=page.data.rev%> Blame)</small>
            <%} else if(page.viewName === 'wiki' && page.data.rev) {%>
              <small>(r<%=page.data.rev%> 판)</small>
            <%}%>
          </h1>
          <%if(page.viewName === 'wiki' && page.data.date) {%>
            <% 
              let timestamp = !isNaN(page.data.date) ? page.data.date : Math.floor(new Date(page.data.date).getTime() / 1000);
              let timeTag = getFullDateTag(timestamp);
              let timeTag2 = getFullDateTag(page.data.date);
            %>
          
            <% if (page.data.rev) { %>
              <span class="header-date-text">편집 시각: (<%- getFullDateTag(timestamp, 'relative') %>)</span>
            <% } else { %>
              <span class="header-date-text"><span x-html="'마지막 편집: ' + getFullDateTag(new Date(<%= timestamp %>), 'relative')"></span></span>
            <% } %>     
          <%}%>
          <%} else {%>
          <h1><%=page.title%></h1>
          <%}%>
        </div>
      </div>
      <div class="liberty-content-main wiki-article">
        <%if(page.data.edit_acl_message) {%>
          <div class="thetree-alert thetree-alert-danger" x-cloak x-show="$store.skin.isShowACLMessage">
            <div class="thetree-alert-content">
              <span><%-page.data.edit_acl_message%></span>
              <%if(requestable) {%><span><%if(page.data.edit_acl_message.includes('<br>')) {%><br><%}%> 대신 <a href="<%=doc_action_link(page.data.document, 'new_edit_request')%>">편집 요청</a>을 생성할 수 있습니다.</span><%}%>
            </div>
            <div>
              <a @click.prevent="$store.skin.hideEditMessage()" href="#" class="thetree-alert-close">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                  <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
              </a>
            </div>
          </div>
        <%}%>
        <div class="thetree-alert thetree-alert-primary" x-cloak x-show="$store.state.session.user_document_discuss && $store.state.localConfig['wiki.hide_user_document_discuss'] !== $store.state.session.user_document_discuss">
          <div class="thetree-alert-content">
            현재 진행 중인 <a href="<%=doc_action_link(user_doc(session.account.name), 'discuss')%>">사용자 토론</a>이 있습니다.
          </div>
          <div>
            <a @click.prevent="$store.state.setLocalConfig('wiki.hide_user_document_discuss', $store.state.session.user_document_discuss)" href="#" class="thetree-alert-close">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
              </svg>
            </a>
          </div>
        </div>
        <%if(page.viewName === 'notfound' && page.data.document.namespace === '문서') {%>
          <div class="thetree-alert" style="line-height:2.1rem;">
            <div class="thetree-alert-content">
              '<%=page.data.document.title%>'을(를) 검색하시겠습니까?
              <div class="float-right"><a class="thetree-square-button" href="/Search?q=<%=encodeURIComponent(page.data.document.title)%>">검색</a></div>
              <div class="clearfix"></div>
            </div>
          </div>
        <%}%>
        <div id="content-style" class="content-style">
          <div id="content-body" class="content-body" :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
            <%-contentHtml%>
          </div>
        </div>
        <%if(page.viewName === 'license') {%>
        <div>
          <h2>Clue skin license</h2>
          <pre><%=getSkinFile('LICENSE')%></pre>
        </div>
        <%}%>
        <div class="clearfix"></div>
      </div>
      <div id="bottom" class="liberty-footer">
        <ul class="footer-places"><%-config.footer_html%></ul>
        <ul class="footer-icons">
          <li class="footer-poweredbyico">
            <a href="//github.com/VaniIIaDev/thetree-skin-clue">clue</a> | <a href="//github.com/wjdgustn/thetree">the tree</a>
          </li>
        </ul>
      </div>
      <div x-cloak x-show="$store.state.localConfig['clue.sidebar'] === 'footer'" style="border-radius: 12px;" class="footer-recent">
        <div class="live-recent-header">
          <ul class="nav nav-tabs">
            <li class="nav-item" style="text-align: left;width: 100%;">
              <div class="recent-head-title">
                <h3 style="margin: 0; display: flex; align-items: center;">
                  <span class="ion-md-compass"></span>
                  <span class="recent-head-text">최근 변경</span>
                </h3>
                <a href="/RecentChanges" class="btn btn-sm btn-primary btn-recentchanges">더보기</a>
              </div>
            </li>
          </ul>
        </div>
        <%-include('./layouts/recentCard', {limit:13})%>
      </div>
    </div>
  </div>
  <div class="scroll-buttons">
    <a class="scroll-toc" href="#toc"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
    <a id="left" class="scroll-button" href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <a id="right" class="scroll-bottom" href="#bottom"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
  </div>
</div>